@-webkit-keyframes toLeftFromRight {
  49% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  51% {
    opacity: 1; } }
@keyframes toLeftFromRight {
  49% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  51% {
    opacity: 1; } }
