/********* Hero Section Start *********/
.hero-area {
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 250px;
  background: url("../../assets/images/hero-bg.png");
  background-position: center;
  background-size: cover;
  position: relative;
  .hero-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .hero-shape-1 {
    position: absolute;
    bottom: 0;
    right: 5%;
    z-index: -1;
  }

  .content-wrapper {
    display: flex;
    .right {
      z-index: 10;
      margin-left: 15%;
      .main-pen {
        margin-top: 40px;
        position: relative;
        img {
          max-width: 673px;
          height: 80px;
          position: absolute;
          top: -50px;
          right: 35%;
        }
      }
    }
  }
  .title-wrapper {
    .img-wrapper {
      max-width: 1123px;
      min-height: 90px;
      position: relative;
      .hero-text {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
      }
      .hero-text-before {
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 3;
      }
      .pen-1 {
        width: 15px;
        height: 130px;
        position: absolute;
        bottom: 0;
        right: 188px;
      }
    }
    h1 {
      font-size: 124px;
      color: #c23400;
      text-transform: uppercase;
      font-weight: 700;
      margin-left: 47px;
    }
  }
  .last-title-wrapper {
    text-align: center;
    cursor: pointer;
  }
  .text-icon {
    margin-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 13px;
    .inner {
      display: flex;
      gap: 8px;
      padding-right: 9.5px;
      border-right: 1px solid rgba($white-color, 0.5);
      .icon {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white-color;
        flex-shrink: 0;
      }

      p {
        font-size: 19px;
        font-weight: 500;
        color: $white-color;
        line-height: 30px;
        font-family: $body-font;
      }
    }
    .last-inner {
      padding-right: 0;
      border-right: none;
    }
  }
}
/********* Hero Section End *********/

/******* Surface Section Start ***********/
.surface-section {
  padding: 30px 0;
}

.surface-content {
  @include portrait-phone {
    display: block !important;
  }
}
.surface-content-title {
  h2 {
    font-size: 80px;
    line-height: 70px;
    color: $primary-color;
    text-transform: uppercase;
    span {
      color: $secondary-color;
    }
    @include screen-1400 {
      font-size: 65px;
      line-height: 60px;
    }
    @include screen-1150 {
      font-size: 50px;
      line-height: 50px;
    }
    @include screen-992 {
      font-size: 35px;
      line-height: 30px;
    }
    @include screen-768 {
      font-size: 22px;
      line-height: 25px;
    }
    @include portrait-phone {
      text-align: center;
    }
  }
}

.surface-content-btn {
  @include portrait-phone {
    text-align: center;
    margin-top: 20px;
  }
}
.surface-btn {
  background-color: $secondary-color;
  color: $white-color;
  @include screen-768 {
    padding: 8px 10px;
  }
  @include portrait-phone {
    text-align: center;
  }
}
/******* Surface Section End ***********/

/******* Trial Section Start ***********/
.trail-section {
  background-color: #f8ca36;
  padding: 30px 0;
}

.trail-content {
  margin: 0 140px;
  gap: 43px;
  @include large-screen {
    margin: 0 80px;
    gap: 20px;
  }
  @include screen-992 {
    margin: 0 40px;
    gap: 10px;
  }
}

.trail-content-title {
  position: relative;
  h2 {
    font-size: 77px;
    line-height: 75px;
    color: $secondary-color;
    text-transform: uppercase;
    font-style: italic;
    span {
      color: $primary-color;
    }
    @include screen-1350 {
      font-size: 60px;
      line-height: 60px;
    }

    @include large-screen {
      font-size: 45px;
      line-height: 40px;
    }
    @include screen-768 {
      font-size: 28px;
      line-height: 30px;
    }
    @include portrait-phone {
      font-size: 25px;
      line-height: 20px;
    }
  }
}

.trail-content-btn {
  position: absolute;
  right: 0%;
  top: 45px;
}

.trail-btn {
  background-color: $secondary-color;
  color: $white-color;
}
/******* Trial Section End ***********/

/******* Service Section Start ***********/
.service-section {
  background-color: $secondary-color;
  padding: 60px 0;
}

.service-top {
  margin: 0 30px;
  @include portrait-phone {
    display: block !important;
    margin: 0 10px;
  }
}

.service-title {
  @include portrait-phone {
    text-align: center;
  }
  h2 {
    color: $white-color;
    font-size: 80px;
    @include screen-992 {
      font-size: 65px;
    }
    @include screen-992 {
      font-size: 50px;
    }
    @include screen-460 {
      font-size: 40px;
    }
  }
}

.service-btn {
  @include portrait-phone {
    text-align: center;
  }
  a {
    @include screen-768 {
      padding: 7px 12px;
    }
  }
}
.service-item {
  margin: 0 30px;
  margin-top: 48px;
  @include portrait-phone {
    margin: 0 10px;
  }
  @include screen-460 {
    margin-top: 20px;
  }
}

.service-card {
  background-color: $white-color;
  border-radius: 10px;
}

.service-thumb {
  padding: 8px 8px 0 8px;
  position: relative;
  img {
    width: 100%;
  }
  .service-step {
    position: absolute;
    right: 20px;
    top: 22px;
    background-color: $white-color;
    color: $primary-color;
    padding: 1px 10px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 11px;
    display: inline-block;
  }
}

.service-content {
  padding: 27px 40px 40px 43px;
  text-align: center;
  h3 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 7px;
    @include screen-460 {
      font-size: 22px;
    }
  }
  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: $primary-color;
    @include screen-460 {
      font-size: 15px;
    }
  }
}

.service-content-two {
  padding: 27px 40px 68px 43px;
  @include screen-1260 {
    padding: 27px 40px 40px 43px;
  }
}
/******* Service Section End ***********/
